.main {
  .choosen-health {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8rem;
    @include maxWidth(1097px) {
      padding: 0 0rem;
    }
    @include maxWidth(768px) {
      display: none;
    }

    &__tablet-mobile {
      display: none;
      @include maxWidth(768px) {
        display: flex;
      }
    }
    &__ver2 {
      display: none;
      position: fixed;
      top: 0rem;
      left: 0;
      height: 100%;
      z-index: 10;
      font-size: 3rem;
      background-color: var(--color-grey-light-0);
    }

    li {
      list-style-type: none;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 4.3rem;
      cursor: pointer;
      padding: 0 0.5rem;
      @include maxWidth(966px) {
        font-size: 1rem;
        line-height: 3.7rem;
      }
      @include maxWidth(768px) {
        font-size: 1rem;
        line-height: 3.7rem;
      }
      &:hover {
        background-color: var(--color-grey-dark-3);
      }
      img {
        padding-left: 0.8rem;
      }
    }
  }

  .pharmacy {
    .container {
      margin-top: 4.8rem;
      margin-bottom: 7.8rem;
    }

    &__muticolor {
      background: linear-gradient(180deg, #02D5AF 0%, #9076F9 85.42%, #F976DC 100%);
      border-radius: 20px;
      padding: 2.4rem 3rem;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.4rem;
      margin-bottom: 4.8rem;

      &--extend {
        text-transform: inherit;
        color: var(--color-grey-light-0);
        background-image: url(../../img/svg/hotsale.svg);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 3rem;        
      }
      @include maxWidth(768px) {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 3.8rem;
      }
    }

    &__easytobuy {
      display: flex;
      justify-content: space-between;
      @include maxWidth(640px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
      }
      &--advise {
        display: flex;
        flex: 0 0 68%;
        padding: 6.1rem 9.5rem;
       
        @include maxWidth(1280px) {
          flex: 0 0 60%;
          padding: 3.1rem 5.5rem;
        }
        @include maxWidth(966px) {
          flex: 0 0 56%;
        }
       
        @include maxWidth(768px) {
          padding: 1.1rem 0.5rem;
        }
        border: 1px solid #ece5e5;
        border-radius: 2rem;
        align-items: center;
        justify-content: space-between;
      }

      &--card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        padding: 1.5rem 1.5rem;
        @include maxWidth(1024px) {
          padding: 1rem 1rem;
        }
        @include maxWidth(768px) {
          padding: 0.5rem 0.5rem;
        }
        border-radius: 6px;
        &:hover {
          background-color: var(--color-primary);
          color: var(--color-grey-light-0);
        }
      }

      &--img {
        max-height: 7.5rem;
      }

      &--title {
        margin-top: 2.5rem;
        text-align: center;

        h3 {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2.4rem;
          @include maxWidth(768px) {
            font-weight: 600;
            font-size: 1rem;
            line-height: 2rem;
          }
        }

        p {
          font-weight: 300;
          font-size: 1.3rem;
          line-height: 2rem;
          @include maxWidth(768px) {
            font-size: 1rem;
            line-height: 1.8rem;
          }
        }
      }

      &--buynow {
        margin-left: 1.6rem;
        
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #e32424 -34.75%, #ffb800 100%);
        border-radius: 2rem;
        @include maxWidth(966px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        @include maxWidth(768px) {
          margin-left: 0.6rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        @include maxWidth(640px) {
          padding: 2rem;
        }
        h2 {
          padding: 6.4rem 8.25rem 4.1rem 8.25rem;
          @include maxWidth(966px) {
            padding: 2rem 2rem;
          }
          @include maxWidth(768px) {
            padding: 1rem 1rem;
            font-size: 2rem;
            line-height: 2.6rem;
          }
          color: var(--color-grey-light-0);
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 3.6rem;
          text-align: center;
        }
      }

      &--contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3.7rem;
        @include maxWidth(1536px) {
          padding: 0 3.4rem;
        }
        @include maxWidth(1097px) {
          padding: 0 3.1rem;
        }
        @include maxWidth(966px) {
          padding: 0 2rem;
        }
        @include maxWidth(768px) {
          padding: 0 1.7rem;
        }

        .buynow {
          padding: 0.8rem 1.8rem;
          background-color: var(--color-primary);
          color: var(--color-grey-light-0);
          border: none;
          border-radius: 9999px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 2.1rem;
          cursor: pointer;
          @include maxWidth(1024px) {
            padding: 0.8rem 0.8rem;
          }
          @include maxWidth(768px) {
            padding: 0.5rem 0.5rem;
            font-size: 1rem;
            line-height: 1.8rem;
          }

          @include maxWidth(640px) {
            padding: 1rem 1rem;
            font-size: 1rem;
            line-height: 1.8rem;
          }
          &:hover {
            background-color: var(--color-grey-light-0);
            color: var(--color-primary);
          }
        }

        .hotline {
          margin-left: 1rem;
          padding: 0.8rem 1.6rem;
          color: var(--color-primary);
          background-color: var(--color-grey-light-0);
          border: none;
          border-radius: 9999px;
          display: flex;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 2.1rem;
          text-transform: uppercase;
          cursor: pointer;
          @include maxWidth(768px) {
            padding: 0.5rem 0.5rem;
            font-size: 1rem;
            line-height: 1.8rem;
          }
          @include maxWidth(640px) {
            padding: 1rem 1rem;
            font-size: 1rem;
            line-height: 1.8rem;
          }
          a {
            text-decoration: none;
            color: currentColor;
            padding-left: 0.5rem;
          }

          &:hover {
            color: var(--color-grey-light-0);
            background-color: var(--color-primary);
          }
        }
      }
    }

    &__bestsale {
      margin-top: 6.4rem;
      margin-bottom: 6.4rem;
    }

    &__tag {
      .hot-search {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.4rem;

        @include maxWidth(966px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 9px 8px;
          font-size: 2.5rem;
          text-align: center;
        }

        @include maxWidth(768px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 9px 8px;
          font-size: 2.5rem;
          text-align: center;
        }

        @include maxWidth(640px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 9px 8px;
          font-size: 1.5rem;
          text-align: center;
        }

        span {
          padding: 1rem 2rem;
          border-radius: 9999px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          &:not(:first-child) {
            margin-left: 2.4rem;
            @include maxWidth(966px) {
              margin-left: 0rem;
            }
            @include maxWidth(768px) {
              margin-left: 0rem;
            }
          }

          &:first-child,
          &:nth-child(4),
          &:nth-child(5) {
            background-color: #ffe5d3;
          }

          &:nth-child(2),
          &:nth-child(6),
          &:nth-child(7) {
            background-color: #e3f9e9;
          }

          &:nth-child(3),
          &:last-child {
            background-color: #fbf5df;
          }
        }
      }
    }

    &__authetic {
      margin-top: 6.8rem;
      background-color: var(--color-grey-light-1);
      padding: 6.2rem 0rem;
      @include maxWidth(640px) {
        margin-top: 3.8rem;
        background-color: var(--color-grey-light-1);
        padding: 3.2rem 0rem;
      }
      .container {
        display: flex;
        justify-content: space-between;
        @include resetcontainer;

        @include maxWidth(640px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 2rem;
        }
      }

      &--lastone {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        @include maxWidth(768px) {
          column-gap: .6rem;
        }
        @include maxWidth(640px) {
          padding-left: 7rem;
        }
        @include maxWidth(480px) {
          padding-left: 0rem;
        }
        h3 {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2rem;
          @include maxWidth(768px) {
            font-weight: 500;
            font-size: 1rem;
            line-height: 2rem;
          }
        }

        p {
          font-weight: 300;
          font-size: 1.3rem;
          line-height: 2rem;
          @include maxWidth(768px) {
            font-weight: 300;
            font-size: .8rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}

.main .choosen-health__ver2.d-open {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  ul {

    li {
      list-style-type: none;
      padding: 1rem 2rem;
      color: var(--color-primary);
      cursor: pointer;
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-grey-light-0);
      }
    }
  }
}