#slider-introduce {
  .swiper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  .slide1 {
    position: relative;
    max-height: 45.3rem;
    img {
      width: 100%;
      height: 45.3rem;

      @include maxWidth(1536px) {
        height: 35.3rem;
      }
      @include maxWidth(1280px) {
        height: 35.3rem;
      }
      @include maxWidth(1097px) {
        height: 25rem;
      }
      @include maxWidth(768px) {
        height: 23rem;
      }
      @include maxWidth(640px) {
        height: 13rem;
      }
    }

    .circle-group {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }

  .swiper-button-left {
    position: absolute;
    left: 17rem;
    @include maxWidth(1280px) {
      left: 8rem;
    }
    @include maxWidth(630px) {
      left: 2rem;
    }
    z-index: 10;
  }

  .swiper-button-right {
    position: absolute;
    right: 17rem;
    @include maxWidth(1280px) {
      right: 8rem;
    }
    @include maxWidth(630px) {
      right: 2rem;
    }
    z-index: 10;
  }
}

.pharmacy__bestsale {
  position: relative;

  .swiper {
    position: static;
  }

  .swiper-button-rightmain,
  .swiper-button-leftmain {
    position: absolute;
    top: 0rem;
  }
  .swiper-button-rightmain {
    right: 0;
  }

  .swiper-button-leftmain {
    right: 8rem;
  }

  .swiper-pagination-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }

  @include longpagination;

  .swiper-pagination-custom > .swiper-pagination-bullet {
    height: 0.5rem;
    width: 3.2rem;
    cursor: pointer;
    border-radius: 9999px;
    background-color: #d9d9d9;
    opacity: 1;
    transition: all 0.2s;
    &:hover {
      background-color: var(--color-primary);
      transform: scaleX(1.4);
    }
  }

  .right-icon,
  .left-icon {
    font-size: 3rem;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-grey-light-0);
    }
  }
  &--cover {
    img {
      width: 100%
    }
  }

  &--include {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &--functionalfood {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #6c6868;
  }

  &--title {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
    color: #2c2727;
    //truncate
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &--price {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: flex;
    p {
      color: #6c6868;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  &--tagv2 {
    position: relative;
  }

  &--imgver2 {
    width: 100%;
    height: 100%;
  }

  .filter {
    position: absolute;
    bottom: -0.02rem;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    width: 100%;
    height: 11.9rem;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: start;
  }

  &--opacity {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    @include maxWidth(1280px) {
      justify-content: center;
    }
    @include maxWidth(768px) {
      justify-content: center;
    }
    .after-opacity {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 2rem;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 2rem;

      .doc {
        margin: 0 1.6rem;
        padding: 0.3rem;
        background-color: #e0e0e0;
        border-radius: 50%;
        @include maxWidth(768px) {
          margin: 0 1rem;
        }
      }
      

      img {
        margin-right: 0.8rem;
      }

      .line {
        margin: 0 1.6rem;
        width: 0.1rem;
        height: 1.7rem;
        background-color: #e0e0e0;
      }

      p {
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 2rem;
        @include maxWidth(966px) {
          font-size: 1rem;
          line-height: 2rem;
        }
        @include maxWidth(768px) {
          font-size: .8rem;
          line-height: 2rem;
        }
      }

      span {
        padding: 1rem 2rem;
        border: 1px solid var(--color-grey-light-0);
        border-radius: 9999px;
        color: var(--color-primary);
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          top: 0rem;
          left: 0rem;
          background: rgba(255, 255, 255, 0.5);
          width: 99%;
          height: 99%;
          border-radius: 9999px;
          z-index: -1;
          /* Stroke */
          border: 1px solid #ece5e5;
          backdrop-filter: blur(20px);
        }
      }
    }

    h2 {
      padding: 0rem 2rem;
      padding-top: 0.8;
      padding-bottom: 1rem;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 4.2rem;
      cursor: pointer;
      @include maxWidth(1280px) {
        padding: 0rem 1rem;
        font-size: 2rem;
        line-height: 3.7rem;
      }
      @include maxWidth(1097px) {
        padding: 0rem 1rem;
        font-size: 2rem;
        line-height: 3.7rem;
      }
      @include maxWidth(966px) {
        padding: 0rem 1rem;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
      @include maxWidth(768px) {
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--only1 {
    // @include maxWidth(1536px) {
    //   width: 25.2rem;
    //   height: 17.9rem;
    // }
    @include maxWidth(1280px) {
      height: 16rem;
    }
    @include maxWidth(1097px) {
      height: 15rem;
    }
    @include maxWidth(966px) {
      height: 13rem;
    }
    // @include maxWidth(768px) {
    //   width: 16.2rem;
    //   height: 12rem;
    // }
  }

  &--productv2 {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    @include maxWidth(1536px) {
      row-gap: .5rem;
    }
    @include maxWidth(1280px) {
      row-gap: 1.5rem;
    }
    @include maxWidth(1097px) {
      row-gap: 1rem;
    }
    @include maxWidth(768px) {
      row-gap: 1rem;
    }
  }

  &--firstproductv2 {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey-light-3);
    border: 1px solid var(--color-grey-light-0);
    border-radius: 2rem;
    @include maxWidth(1536px) {
     margin-left: 2rem;
    }
    @include maxWidth(768px) {
      margin-left: 0rem;
     }
    &:hover {
      border: 1px solid var(--color-primary);
    }

    .half-tag {
      padding: 1rem 5rem 1rem 2.4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      @include maxWidth(1580px) {
        padding: 1rem 1rem 1rem 1rem;
      }
      @include maxWidth(1097px) {
        padding: 1rem 1rem 1rem 1rem;
      }
      @include maxWidth(768px) {
        padding: 1rem 1rem;
      }
      span {
        padding: 1rem 2rem;
        border: 1px solid #ece5e5;
        border-radius: 9999px;
        color: var(--color-primary);
        background-color: var(--color-grey-light-0);
      }

      h2 {
        padding: 1.5rem 0rem;
        padding-top: 0.8;
        padding-bottom: 1rem;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 4.2rem;
        cursor: pointer;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include maxWidth(1280px) {
          padding: 0.5rem 0rem;
          line-height: 3.5rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        @include maxWidth(1097px) {
          padding: 0.5rem 0rem;
          line-height: 3rem;
          font-size: 1.7rem;
        }
        @include maxWidth(966px) {
          padding: 0.5rem 0rem;
          line-height: 2.7rem;
          font-size: 1.4rem;
        }
        @include maxWidth(768px) {
          font-weight: 500;
          font-size: 1.7rem;
          line-height: 2.4rem;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &__inside {
        display: flex;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 2rem;
        .line {
          margin: 0 1.6rem;
          width: 0.1rem;
          height: 1.7rem;
          background-color: #e0e0e0;
        }
        img {
          margin-right: 0.8rem;
        }
      }
    }
  }
}

.display-tabletmobile {
  display: none;
  @include maxWidth(966px) {
    display: flex;
  }
}
