:root {
    --color-primary: #CD151C;
    --color-primary-yellow: #7B050A;

    --color-grey-light-0: #fff;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #F4F4F1;
    --color-grey-light-3: #FAFAFA;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-0: #333;
    --color-grey-dark-1: ##2C2727;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px 